################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PP-2-March2025/Assets/Materials/Door_m.mat.meta
